body { 
  background: #434078; 
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.2;
  + p {
    margin-top: .5em;
  }
}
img {
  height: auto;
  width: 70%;
  display: block;
  margin-left: auto;
}

details {
  --border: 1px solid #eee;
  position: fixed;
  bottom: .5rem;
  right: 1rem;
  border: var(--border);
  background: color-mix(in lab, #d4d4f1 90%, transparent);

  summary {
    cursor: pointer;
    padding: .5rem;     
  }

  & > p, #info {
    padding: .5rem;
  }

  #info {
    max-height: 8rem;
    overflow-y: scroll;
  }

  &[open] {
    max-width: 90%;
    width: 25rem;

    & > * + * {
      border-top: var(--border);
    }
  } 
}

form {
  display: flex;

  input, button {
    border: none;
    background: inherit;
    padding: .5rem;
    font-family: inherit;
    font-size: inherit;

    &:hover, &:focus {
      background: #e6e6ff;
    }
    &[disabled] {
      cursor: wait;
      background: #b8b8e0;
    }
  }

  input {
    flex-grow: 1;
    border-right: var(--border);
  }

  button {
    cursor: pointer;
  }

  [type="range"] {
    width: 1px;
    padding: 0;
    margin-inline: .5rem;
  }

  label {
    padding: .5rem;
  }
}

#status {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}

h1 {
  display: inline;
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}
  .toggle {
    cursor: pointer;
/*    flex: 1 1 auto;*/
    border-right: var(--border);

    &:hover, &:focus, &:has(:checked) {
      background: #e6e6ff;
    }

    input {
      display: none;
    }
  }
.legends {
  display: flex;

  form {
    flex-direction: column;
  }

  label {
    flex: 1 1 auto;
  }

  ul {
    display: flex;
    list-style: none;
    padding: .5rem;
    margin: 0;
    gap: 0 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: .9em;
  }
  li::before {
    content: '';
    display: inline-block;
    height: 1.2em;
    aspect-ratio: 1;
    margin-right: 5px;
    background: linear-gradient(to top, var(--color, #7373d1), #eee 400%);
    vertical-align: text-bottom;
  }
  form:has([value="years"]:checked) ~ #types-legend {
    display: none;
  }
  form:has([value="types"]:checked) ~ #years-legend {
    display: none;
  }
}

#calendar-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--zoom, 4.2rem), 1fr));
  gap: 1px;
  margin: 0 auto;
  padding: 3px;

  & li {
    display: block;
    aspect-ratio: 1;
    overflow: hidden;
    scroll-margin-top: 5rem;
    border: 1px solid #e5e4ff;
    background-color: color-mix(in lab, lavender, #7373d1 var(--saturation));

    &[id='2-29'] { border-style: dashed; }
    &.today { border-style: double; border-width: 3px; }
    &:target { border: 2px solid #555; }

    & > a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
/*        &:nth-child(even) > a { flex-direction: row; }*/
  }

  [id^='12-'] { --saturation: 60% }
  [id^='1-'], [id^='11-'] { --saturation: 53% }
  [id^='2-'], [id^='10-'] { --saturation: 46% }
  [id^='3-'], [id^='9-'] { --saturation: 40% }
  [id^='4-'], [id^='8-'] { --saturation: 34% }
  [id^='5-'],[id^='7-'] { --saturation: 27% }
  [id^='6-'] { --saturation: 22% }

  body:has([value="months"]:checked) & {
    grid-template-columns: repeat(12, 1fr);
    max-width: calc(10 * var(--zoom, 4.2rem));
    grid-auto-flow: column;

    [id^='1-'] { grid-column: 1 }
    [id^='2-'] { grid-column: 2 }
    [id^='3-'] { grid-column: 3 }
    [id^='4-'] { grid-column: 4 }
    [id^='5-'] { grid-column: 5 }
    [id^='6-'] { grid-column: 6 }
    [id^='7-'] { grid-column: 7 }
    [id^='8-'] { grid-column: 8 }
    [id^='9-'] { grid-column: 9 }
    [id^='10-'] { grid-column: 10 }
    [id^='11-'] { grid-column: 11 }
    [id^='12-'] { grid-column: 12 }
  }

  [id^='12-'] { background-color: color-mix(in lab, lavender, #7373d1 60%) }
  [id^='1-'], [id^='11-'] { background-color: color-mix(in lab, lavender, #7373d1 53%) }
  [id^='2-'], [id^='10-'] { background-color: color-mix(in lab, lavender, #7373d1 46%) }
  [id^='3-'], [id^='9-'] { background-color: color-mix(in lab, lavender, #7373d1 40%) }
  [id^='4-'], [id^='8-'] { background-color: color-mix(in lab, lavender, #7373d1 34%) }
  [id^='5-'],[id^='7-'] { background-color: color-mix(in lab, lavender, #7373d1 27%) }
  [id^='6-'] { background-color: color-mix(in lab, lavender, #7373d1 22%) }
}

.preview {
  flex: 1 1 auto;
  --color: #7373d1;
  --lighter: color-mix(in lab, var(--color) 75%, #eee);
  background: linear-gradient(to top, var(--color), #eee 400%);

/*      li:nth-child(even) &:nth-child(even) {
    background: linear-gradient(to bottom, var(--color), var(--lighter));
  }*/
/*      &.text { --color: #d46131 }*/
}

.attachment { --color: #d645b2 }
.channel { --color: #68c668 }
.image { --color: #a745e0 }
.link { --color: #a7be34 }
.media { --color: #5f9ed6 }

body:has([value="years"]:checked) {
  .year-2011 { --color: #48921f }
  .year-2012 { --color: #31A53F }
  .year-2013 { --color: #38AB6D }
  .year-2014 { --color: #41B19A }
  .year-2015 { --color: #49A8B7 }
  .year-2016 { --color: #5A90C0 }
  .year-2017 { --color: #6073C2 }
  .year-2018 { --color: #7366c4 }
  .year-2019 { --color: #9169CA }
  .year-2020 { --color: #B16CD0 }
  .year-2021 { --color: #D36FD6 }
  .year-2022 { --color: #DB72C0 }
  .year-2023 { --color: #E076A8 }
  .year-2024 { --color: #E47B8F }
  .year-2025 { --color: #E9887F }
}
/*.text { --color: #7373d1 }*/

.content {
  display: none;
  
  &:target {
    display: block;
  }

  --border: 1px solid #eee;
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 70ch;
  max-width: 90%;
  max-height: 80lvh;
  border: var(--border);
  background: #d4d4f1;
  overflow-y: scroll;

  & > header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    background: #7373d1;
    color: #eee;
    position: sticky;
    top: 0;

    & > * {
      padding: .75rem;
    }
    & a {
      border-left: var(--border);
      color: inherit;
      text-decoration: none;

      &:hover, &:focus {
        background: #5555be;
      }
    }
  }

  & > section {
    padding: .5rem;
    background: color-mix(in lab, var(--color) 60%, #d4d4f1);
    display: flex;
    align-items: flex-start;
    gap: 6px;
    overflow-x: scroll;

    &.image, &.attachment {
      justify-content: space-between;
    }

    & .words {
      padding-top: 2px;
    }

    & a.block {
      padding: 4px 6px 2px 6px;
      text-decoration: none;
      background: #e6e6fabb;
      font-size: 10pt;

      &:hover, &:focus {
        background: #e6e6fa;
      }
    }
  }

  & > :not(:last-child) {
    border-bottom: var(--border);
  } 
}

